<div class="container">
  <div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-6 ">
      <h4 class="text-center">Change Password</h4>
      <form name="userResetPassForm" ng-if="!error">
        <div class="form-group">
          <label class="col-md-12" for="npassword">New Password:
            <input type="password" class="form-control" id="npassword" ng-model="npassword" name="npassword"  required ng-change="compairePassword(npassword, cpassword)">
            <span class="error-messages" ng-show="userResetPassForm.npassword.$touched || userResetPassForm.npassword.$dirty && userResetPassForm.npassword.$invalid">
              <span  ng-show="userResetPassForm.npassword.$error.required">Please enter Email</span>
            </span>
          </label>

        </div>
        <div class="form-group">
          <label class="col-md-12" for="cpassword">Confirm Password:
            <input type="text" class="form-control" id="cpassword" ng-model="cpassword" name="cpassword"  required ng-change="compairePassword(npassword, cpassword)">
            <span class="error-messages" ng-show="userResetPassForm.cpassword.$touched || userResetPassForm.cpassword.$dirty && userResetPassForm.cpassword.$invalid">
              <span  ng-show="userResetPassForm.cpassword.$error.required">Please enter Email</span>
            </span>
          </label>

        </div>
        <button type="submit" class="btn btn-success" ng-disabled="userForgotPassForm.$invalid" ng-click="changePassword(npassword)">Submit</button>
      </form>
      <div ng-if="error">{{errorMsg}}</div>

    </div>
  </div>
</div>