<div class="container">
  <div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-6 ">
      <h4 class="text-center">Forgot Pasword</h4>
      <form name="userForgotPassForm">
        <div class="form-group">
          <label class="col-md-12" for="phoneNumber">Phone Number*:
            <input type="text" class="form-control" id="phoneNumber" ng-model="phoneNumber" name="phoneNumber" maxlength="10" minlength="10" pattern= "[0-9]*$" required>
            <span class="error-messages" ng-show="userForgotPassForm.phoneNumber.$touched || userForgotPassForm.phoneNumber.$dirty && userForgotPassForm.phoneNumber.$invalid">
              <span  ng-show="userForgotPassForm.phoneNumber.$error.required">Please enter Phone number</span>
              <span  ng-show="userForgotPassForm.phoneNumber.$error.pattern">Enter valid phone number</span>
            </span>
          </label>

        </div>
        <div class="form-group">
          <div class="radio">
            <label  class="col-md-12"><input type="radio" name="roleType" id="roleTypeCustomer" checked ng-model="role" value="customer" required> Customer</label> &nbsp; &nbsp;
             <span  class="error-messages" ng-show="userForgotPassForm.roleType.$touched && userForgotPassForm.roleType.$error.required">Please Select Role</span>
            <!-- <label><input type="radio" name="roleType" id="roleTypeFarmer" ng-model="user.role" value="farmer"> Farmer</label> -->
          </div>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="userForgotPassForm.$invalid" ng-click="userForgotPass(phoneNumber, role)">Submit</button>
        <a href="#!/user/register">New User Register here</a>&nbsp;
        <a href="#!/user/login">Back to Login</a>
      </form>

    </div>
  </div>
</div>