<div class="row">
	<div class="col-md-3">
		<div ng-include="'../../../staticViews/adminAside.html'"></div>
	</div>
	
	<div class="col-md-8 containeradmin" ng-init="getServices()">
		<h3 class="text-center" style="margin-top: 10px;">Services List</h3>
		<span class="float-right"><a href="#!/admin/service/add" class="btn btn-success">ADD</a></span>
		<table ng-table="tableParams" class="table table-condensed table-bordered table-hover">
        <tr ng-hide="group.$hideRows" class="text-center" ng-repeat="service in $data" ng-repeat-end>
          <td sortable="'name'" data-title="'name'"  >
            {{service.name}}
          </td>
          <td data-title="'status'">
            <span ng-if="service.status"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
			<span ng-if="!service.status"><i class="fa fa-times" aria-hidden="true"></i></span>
          </td>
          <td sortable="'createdAt'" data-title="'Date'" ">
            {{service.created_at | date:'medium'}}
          </td>
          <td title="'Actions'">
			<a href="#!/admin/marketingcontent/update/{{service._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;
			<a href="javascript:void(0)" alt="Click to delete" title="Click to delete"><i class="fa fa-trash" aria-hidden="true" ng-click="deleteContent(service._id)"></i></a>
		</td>
        </tr>
      </table>
	</div>
</div>