<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
   <a class="navbar-brand" href="#">
    <img src="/images/frontlogo1.png" alt="Logo" style="width: 200px; height: 50px;">
  </a>
  <div class="navbar-nav ml-auto" ng-controller="staticController">
 
  	<a ng-if="logOut == 'Login'" href="#!/admin/login" class="btn btn-success">{{logOut}}</a>
  	<a ng-if="logOut == 'Logout'" href="javascript:void(0)" ng-click="adminLogout()" class="btn btn-success">{{logOut}}</a>
  </div>

</nav>