<header class="header" ng-controller="staticController">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="#">dailyDeals
        <!-- <img src="/images/frontlogo.png" alt="Logo" style="height: 57px;"> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#!/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a ng-if="userLogin" href="#!/customer/dashboard" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="#!/aboutus" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#!/contactus" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item" ng-if="!userLogin">
            <a href="#!/user/login" class="btn" style="font-weight: bold; color: #330000; font-size: 18px;">Login / Signup</a>
          </li>
          <li class="nav-item dropdown" ng-if="userLogin">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">{{firstName}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#!/customer/orders">My Orders</a>
              <a class="dropdown-item" href="#!/customer/profile/{{phoneNumber}}">Profile</a>
              <a class="dropdown-item" href="#">Help</a>
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="javascript:void(0);" ng-click="customerLogout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>