
<section class="reviews" ng-if="isMarketing">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-md-12 owl-carousel" id="owl-example" >
                <div ng-repeat="content in marketingContents">
                  <h2 class="section-title text-center">{{content.heading}}</h2>
                  <div class="text-center" ng-bind-html="deliberatelyTrustDangerousSnippet(content.description)"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="customer-top-banner">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="left-text-section">
                  <h1>
                      Happy <span>Farmer.</span><br>
                      For Happy<span> Nation.</span></h1>

                  <h4><span>Affordable, deals,</span> <span>while saving money and</span> <span>helping the locals.</span></h4>
                  <div class="app-download-links d-flex">
                      <a href="#!/user/register" class="btn" style="background-color: #28a745; color: #fff">JOIN US</a>&nbsp;&nbsp;
                      <a class="btn" style="background-color: #28a745; color: #fff" ng-click="scrollContactUs();">Contact US</a>
                  </div>
   
              </div>
          </div>
      </div>
  </div>
  <img src="images/dairyproduct.png" alt="" class="banner-png">
</section>

<section class="introduction" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 left-column">
                <img src="images/dealstickmoto.png" alt="" class="img-fluid">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 right-column" ">
                <h2 class="section-title"> What's <span class="green">deals</span><span class="pink">tick</span>?</h2>
                <p>Our primary motto behind this project is to provide the farmers and local businessmen a platform for ease of business, marketing and deliver great deals. We, as a team has taken a small initiative to give a helping hand to local Farmers and Businessmen by providing them justified deals. We assist them to create a solid and satisfactory customer base via dealsTick.</p>    
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">Happy Faces</h2>
                    <div id="reviewcarouselExampleControls" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li  data-target="#reviewcarouselExampleControls" data-slide-to="0" class="active"></li>
                            <li  data-target="#reviewcarouselExampleControls" data-slide-to="1" ></li>
                            <li  data-target="#reviewcarouselExampleControls" data-slide-to="2"></li>
                        </ol>
                        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p class="review-text"><b>Amazing!!</b> "Really good firm to deal with." Highly recommended.</p>
                                
                                <div class="reviewer">
                                    <div class="profile">
                                        <img src="images/user1.png" alt="" width="80">
                                    </div>
            
                                    <h5 class="name">Pranav</h5>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <p class="review-text"><b>"Quality products at very afforatable prices. Nice Service."</p>
                                
                                <div class="reviewer">
                                    <div class="profile">
                                        <img src="images/user1.png" alt="" width="80">
                                    </div>
            
                                    <h5 class="name">Abhijit</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="review-text"><b>"Before joining dealsTick, I was thinking to give up farming. But now I realised farming is win win profession"</p>
                                <div class="reviewer">
                                    <div class="profile">
                                        <img src="images/user1.png" alt="" width="80">
                                    </div>
            
                                    <h5 class="name">Nitesh</h5>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev"  data-target="#reviewcarouselExampleControls" role="button" data-slide="prev">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="35px" height="25px" viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
                                <path style="fill:#1E201D;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554  c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587  c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
                                <g>
                                </g>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="carousel-control-next" data-target="#reviewcarouselExampleControls" role="button" data-slide="next">
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="35px" height="25px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
                                <path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
                                <g>
                                </g>
                            </svg>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 right-column">
                <h2 class="section-title"> What do we have for Customers?</h2>
                <p style="font-weight: 600; font-size: 20px;">As they say “Save the best for the last”, Dealstick make sure that these deals with the customers are fair and square providing them best of the services worth their every penny. Customers now do not need to search or wait for local markets to fill in on weekends as we provide them with the products and our services at their doorstep.</p>    
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 left-column">
                <img src="images/customer2.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="join-us">
    <div class="container">
      <h2 class="section-title text-center">How it functions?</h2>
        <div class="row">

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 left-column">
                <img src="images/choose.png" alt="" class="img-fluido">
                <p class="text-center">Visit and Choose</p>   
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 left-column">
                <img src="images/cart1.png" alt="" class="img-fluido">
                <p class="text-center">Just Click and Grab</p>   
            </div>
             <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 left-column">
                <img src="images/delivery.png" alt="" class="img-fluido">
                <p class="text-center">Get your deal and Pay at Delivery</p>   
            </div>
        </div>
    </div>
</section>

<section id="contactus" class="jumbotron jumbotron-fluid">
  <div class="section-content">
    <h1 class="section-title text-center">Get in Touch with us</h1>
    <h3 class="text-center commentText">"dealsTick team will get a Email message from you"</h3>
  </div>
  <div class="contact-section">
    <div class="container">
      <form class="row col-md-12" name="contactForm">
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Your name</label>
            <input type="text" class="form-control" id="" placeholder=" Enter Name" ng-model="contact.name" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" ng-model="contact.email" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="telephone">Mobile No.</label>
            <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no." ng-model="contact.phoneNumber" required>
          </div>
          <div class="form-group">
            <label for ="description"> Message</label>
            <textarea  class="form-control" id="description" placeholder="Enter Your Message" ng-model="contact.message" required></textarea >
          </div>
        </div>
        <div class="col-md-6 offset-md-5">
          <button type="button" class="btn btn-success" ng-disabled="contactForm.$invalid" ng-click="sendContactEmail(contact)"><i class="fa fa-paper-plane" aria-hidden="true"  ></i>  Send Message</button>
        </div>
      </form>
    </div>
  </section>
<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 right-column">
                <h2 class="section-title text-center">Areas of Operation</h2>

                <p style="font-weight: 600; font-size: 24px;" class="text-center">
                  <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i><br/>
                  South-East(Nagpur), Bhandara, Sakoli(Bhandara), Lakhani(Bhandara),
                  Nawegaon/Bandh(Gondia)
                </p>    
            </div>
        </div>
    </div>
</section>