<div class="row">
  <div class="col-md-3">
    <div ng-include="'../../../staticViews/adminAside.html'"></div>
  </div>
  
  <div class="col-md-8">
    <h3 class="text-center" style="margin-top: 10px;">Add Category</h3>
    <form name="categoryForm">
      <div class="form-group">
        <label for="name" class="col-md-4 col-md-offset-2">Name:*</label>
        <input type="text" class="col-md-4 " id="name" name="name" ng-model="category.name" required>
      </div>
      <div class="form-group">
        <label for="description" class="col-md-4 col-md-offset-2">Description:*</label>
        <textarea name="description" class="col-md-4 " rows="5" cols="30" id="description" ng-model="category.description"></textarea>
      </div>
      <div class="form-group">
        <label class="col-md-4">Active:</label>
        <label class="switch"><input type="checkbox" ng-model="category.status">
        <span class="slider"></span>
      </label>
    </div>
    <div class="form-group">
      <label class="col-md-4" for="image">Image</label>
      <span class="col-md-4">
        <input type="file"  name='image' id="img" accept="image/*" ng-model="category.image">
      </span>
    </div>
    <div class="form-group" style="margin-top: 50px;">
      <label class="col-md-4"></label>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>
</div>