<div class="row">
  <div class="col-md-3">
    <div ng-include="'../../../staticViews/adminAside.html'"></div>
  </div>
  
  <div class="col-md-8 containeradmin" ng-init="getCategories();">
    <h3 class="text-center" style="margin-top: 10px;">Add Menu</h3>
    <div class="form-group">
        <label for="categoryname" class="col-md-4 col-md-offset-2">Category:*</label>
        <input type="text" class="col-md-4" id="categoryname" name="categoryname" ng-model="menu.category" uib-typeahead="category as category.name for category in categoryList | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" typeahead-min-length="0">
      </div>
    <form name="menuForm" ng-if="menu.category.name == 'Agriculture'">
      <div class="form-group">
        <label for="categoryname" class="col-md-4 col-md-offset-2">Product Category:*</label>
        <input type="text" class="col-md-4" id="categoryname" name="categoryname" ng-model="menu.category" uib-typeahead="category as category.name for category in categoryList | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" typeahead-min-length="0" required readonly>
        <span class="error-messages" ng-show="menuForm.categoryname.$dirty && menuForm.categoryname.$invalid">
          <span  ng-show="menuForm.categoryname.$error.required">please select category</span>
        </span>
      </div>
      <div>
      <div class="form-group">
        <label for="name" class="col-md-4 col-md-offset-2">Name:*</label>
        <input type="text" class="col-md-4 " id="name" name="name" ng-model="menu.name" capitalize-first required>
        <span class="error-messages" ng-show="menuForm.name.$dirty && menuForm.name.$invalid">
          <span  ng-show="menuForm.name.$error.required">please enter category name</span>
        </span>
      </div>
      <div class="form-group">
        <label for="type" class="col-md-4 col-md-offset-2">Type:*</label>
        <input type="text" class="col-md-4 " id="type" name="type" ng-model="menu.type" capitalize-first required>
        <span class="error-messages" ng-show="menuForm.type.$dirty && menuForm.type.$invalid">
          <span  ng-show="menuForm.type.$error.required">please enter Product type</span>
        </span>
      </div>

      <div class="form-group">
        <label for="type" class="col-md-4 col-md-offset-2">This product is:*</label>
        <label class="col-md-2"><input type="radio"  id="organic" name="organic" ng-model="menu.isOrganic" > Organic</label>
        <label class="col-md-2"><input type="radio"  id="inorganic" name="organic" ng-model="menu.isOrganic" > Inorganic</label>
        <span class="error-messages" ng-show="menuForm.organic.$dirty && menuForm.organic.$invalid">
          <span  ng-show="menuForm.organic.$error.required">please select product feature</span>
        </span>
      </div>


      <div class="form-group">
        <label for="description" class="col-md-4 col-md-offset-2">Description:</label>
        <textarea name="description" class="col-md-4 " rows="5" cols="30" id="description" ng-model="menu.description"></textarea>
      </div>
      <div class="form-group">
        <label for="quantity" class="col-md-4 col-md-offset-2">Quantity:*</label>
        <input name="quantity" class="col-md-4 " rows="5" cols="30" id="quantity" ng-model="menu.quantity" ng-pattern="/^[0-9]*$/" required />
        <span class="error-messages" ng-show="menuForm.quantity.$dirty && menuForm.quantity.$invalid">
          <span  ng-show="menuForm.quantity.$error.required">please enter quantity</span>
          <span ng-show="menuForm.quantity.$error.pattern">Not a valid number</span>
        </span>
      </div>
      <div class="form-group">
        <label for="appPrice" class="col-md-4 col-md-offset-2">Application Price (each item):*</label>
        <input name="appPrice" class="col-md-4 " rows="5" cols="30" id="appPrice" ng-model="menu.applicationPrice" ng-pattern="/^[0-9]*$/" required />
        <span class="error-messages" ng-show="menuForm.appPrice.$dirty && menuForm.appPrice.$invalid">
          <span  ng-show="menuForm.appPrice.$error.required">please enter Application price</span>
          <span ng-show="menuForm.appPrice.$error.pattern">Not a valid number</span>
        </span>
      </div>
      <div class="form-group">
        <label for="farmerPrice" class="col-md-4 col-md-offset-2">Farmer Price (each item):*</label>
        <input name="farmerPrice" class="col-md-4 " rows="5" cols="30" id="farmerPrice" ng-model="menu.farmerPrice" ng-pattern="/^[0-9]*$/" required />
        <span class="error-messages" ng-show="menuForm.farmerPrice.$dirty && menuForm.farmerPrice.$invalid">
          <span  ng-show="menuForm.farmerPrice.$error.required">please enter Farmer price</span>
          <span ng-show="menuForm.farmerPrice.$error.pattern">Not a valid number</span>
        </span>
      </div>
      <div class="form-group">
        <label for="dealPrice" class="col-md-4 col-md-offset-2">Deal Price (each item):*</label>
        <input name="dealPrice" class="col-md-4 " rows="5" cols="30" id="dealPrice" ng-model="menu.dealPrice" ng-pattern="/^[0-9]*$/" />
        <span class="error-messages" ng-show="menuForm.dealPrice.$dirty && menuForm.dealPrice.$invalid">
          <span ng-show="menuForm.dealPrice.$error.pattern">Not a valid number</span>
        </span>
      </div>
      <div class="form-group" ng-init="getFamrmerList()">
        <label for="farmerId" class="col-md-4 col-md-offset-2">Farmers:*</label>
        <input type="text" class="col-md-4" id="farmerId" name="farmerId" ng-model="menu.farmer" uib-typeahead="farmer as farmer.name for farmer in farmerList | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" typeahead-min-length="0" required>
        <span class="error-messages" ng-show="menuForm.farmerId.$dirty && menuForm.farmerId.$invalid">
          <span  ng-show="menuForm.farmerId.$error.required">please select farmer</span>
        </span>
      </div>
      <div class="form-group">
        <label for="stockType" class="col-md-4 col-md-offset-2">Stock Type:*</label>
        <select name="stockType" id="stockType" ng-model="menu.stockType" ng-options="x for x in stockTypes" class="col-md-4 customercountry" required>
          <option value="" disabled>Please select stock type</option>
        </select>
        <span class="error-messages" ng-show="menuForm.stockType.$dirty && menuForm.stockType.$invalid">
          <span  ng-show="menuForm.stockType.$error.required">please select Stock Type</span>
        </span>
      </div>
       <div class="form-group">
        <label for="holesaleprice" class="col-md-4 col-md-offset-2">Hole Sale Price:*</label>
        <input name="holesaleprice" class="col-md-4 "  id="holesaleprice" ng-model="menu.holesaleprice" ng-pattern="/^[0-9]*$/" required />
        <span class="error-messages" ng-show="menuForm.holesaleprice.$dirty && menuForm.holesaleprice.$invalid">
          <span ng-show="menuForm.holesaleprice.$error.required">Please enter whole sale price</span>
          <span ng-show="menuForm.holesaleprice.$error.pattern">Not a valid number</span>
        </span>
      </div>
      <div class="form-group">
        <label for="holesalequantity" class="col-md-4 col-md-offset-2">Hole Sale quantity:*</label>
        <input name="holesalequantity" class="col-md-4 "  id="holesalequantity" ng-model="menu.holesalequantity" ng-pattern="/^[0-9]*$/" required />
        <span class="error-messages" ng-show="menuForm.holesalequantity.$dirty && menuForm.holesalequantity.$invalid">
          <span ng-show="menuForm.holesalequantity.$error.required">Please enter whole sale quantity</span>
          <span ng-show="menuForm.holesalequantity.$error.pattern">Not a valid number</span>
        </span>
      </div>
     
      <div class="form-group">
        <label class="col-md-4">Active:</label>
        <label class="switch"><input type="checkbox" name="status" ng-model="menu.status">
        <span class="slider"></span>
      </label>
    </div>
    <div class="form-group">
      <label class="col-md-4" for="image">Image:</label>
      <span class="col-md-4">
        <input type="file" name='image' id="image" accept="image/jpeg,image/png,image/jpg" ng-model="menu.image" onchange="angular.element(this).scope().uploadImage(this.files)">
      </span>
    </div>
    <div class="form-group" style="margin-top: 50px;">
      <label class="col-md-4"></label>
      <input type="submit" class="btn btn-primary" ng-disabled="menuForm.$invalid" value="Submit" ng-click="addMenu(menu)">
      <a class="btn btn-warning" href="#!/admin/menulist" role="button">Cancel</a>
    </div>
  </div>
  </form>
  <div  ng-if="menu.category.name == 'Clothing and Fashion'">
      <div ng-include="'modules/admin/views/addclothingMenu.html'"></div>
  </div>
</div>
</div>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>