<div class="row">
	<div class="col-md-3">
		<div ng-include="'../../../staticViews/adminAside.html'"></div>
	</div>
	
	<div class="col-md-8 containeradmin" ng-init="getBusinessPersons();">
		<h3 class="text-center" style="margin-top: 10px;">Manage Business Persons</h3>
		<span class="float-right"><a href="#!/admin/business/add" class="btn btn-success">ADD</a></span>
		<table ng-table="tableParams" class="table table-bordered table-hover" show-filter="true" style="margin-top: 55px;">
			<tr class="text-center" ng-repeat="business in $data">
				<td title="'Name'" filter="{ firstName: 'text'}"  ng-bind="business.firstName"></td>
				<td title="'LastName'" filter="{ lastName: 'text'}"  ng-bind="business.lastName"></td>
				<td title="'Email'" filter="{ email: 'text'}"  ng-bind="business.email"></td>
				<td title="'Phone Number'" filter="{ phoneNumber: 'text'}"  ng-bind="business.phoneNumber"></td>
				<td title="'Role'"> {{business.role}}
				</td>
				<td title="'Status'">{{business.status}}</td>
				<td title="'CreatedAt'">{{business.created_at | date:'medium'}}</td>
				<td title="'Actions'">
					<a href="#!/admin/business/update/{{business._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;
					<a href="javascript:void(0)" alt="Click to delete" title="Click to delete"><i class="fa fa-trash" aria-hidden="true" ng-click="deleteBusinessPerson(business._id)"></i></a>
				</td>
			</tr>
		</table>
	</div>
</div>