<div class="row">
	<div class="col-md-3">
		<div ng-include="'../../../staticViews/adminAside.html'"></div>
	</div>
	
	<div class="col-md-8 containeradmin" ng-init="getCustomers();">
		<h3 class="text-center" style="margin-top: 10px;">Manage Customers</h3>
		<span class="float-right"><a href="#!/admin/customer/add" class="btn btn-success">ADD</a></span>
		<table ng-table="tableParams" class="table table-bordered table-hover" show-filter="true" style="margin-top: 55px;">
			<tr class="text-center" ng-repeat="customer in $data">
				<td title="'Name'" filter="{ firstName: 'text'}"  ng-bind="customer.firstName"></td>
				<td title="'LastName'" filter="{ lastName: 'text'}"  ng-bind="customer.lastName"></td>
				<td title="'Email'" filter="{ email: 'text'}"  ng-bind="customer.email"></td>
				<td title="'Phone Number'" filter="{ phoneNumber: 'text'}"  ng-bind="customer.phoneNumber"></td>
				<td title="'Address'"> {{customer.streetAddress + " "+customer.city + " "+ customer.state + " " + customer.pincode}}
				</td>
				<td title="'Status'">{{customer.status}}</td>
				<td title="'CreatedAt'">{{customer.created_at | date:'medium'}}</td>
				<td title="'Actions'">
					<a href="#!/admin/customer/update/{{customer._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;
					<a href="javascript:void(0)" alt="Click to delete" title="Click to delete"><i class="fa fa-trash" aria-hidden="true" ng-click="deleteUser(customer._id)"></i></a>
				</td>
			</tr>
		</table>
	</div>
</div>