/* ---------------------
    variables
------------------------*/
/* ---------------------
    Components
------------------------*/

body {
  font-family: 'Open Sans', sans-serif; }
  body p {
    color: #333333; }

.header {
  background-color: #ff0066; }
  .header .navbar-dark {
    padding: .5rem 1rem 1rem 1rem; }
    .header .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
      position: relative;
      padding: 0.7rem 1.5rem;
      font-size: 15px; }
      .header .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        color: #ff0066; }
      .header .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 1.5rem;
        height: 1px;
        width: calc(100% - 48px);
        background-color: #e1e1e1; }
      .header .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-of-type:after {
        display: none; }
    .header .navbar-dark .navbar-nav .nav-item.active .nav-link {
      color: #f7d71d;
      font-weight: 600; }
    .header .navbar-dark .navbar-nav .nav-item .nav-link {
      color: #ffffff;
      font-size: 15px; }
    .header .navbar-dark .navbar-nav .nav-item .signup-btn {
      margin-top: 15px; }

section .section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700; }

section.customer-top-banner {
  background-color: #f3f5f9;
  padding: 60px 0 60px 0;
  position: relative; }
  section.customer-top-banner .left-text-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    margin-bottom: 25px; }
    section.customer-top-banner .left-text-section h1 span {
      color: #ff0066; }
  section.customer-top-banner .left-text-section h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 20px; }
  section.customer-top-banner .left-text-section h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }
  section.customer-top-banner .left-text-section form {
    margin-bottom: 25px; }
    section.customer-top-banner .left-text-section form .search-cover {
      max-width: 390px;
      display: flex;
      border: 1px solid #d8e3f9;
      border-radius: 4px; }
      section.customer-top-banner .left-text-section form .search-cover .form-control {
        border: none;
        border-radius: 4px 0 0 4px; }
        section.customer-top-banner .left-text-section form .search-cover .form-control:focus {
          box-shadow: none; }
      section.customer-top-banner .left-text-section form .search-cover .search-btn {
        background-color: #ff0066;
        padding: 6px 15px;
        border-radius: 0 4px 4px 0; }
  section.customer-top-banner .left-text-section .app-download-links .ios {
    margin-right: 15px;
    width: 85%; }
  section.customer-top-banner .left-text-section .app-download-links .android {
    width: 90%; }
  section.customer-top-banner .banner-png {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 49%;
    display: none; 
    height: 98%
    }

section.introduction {
  padding: 70px 0 180px 0; }
  section.introduction .left-column {
    padding-right: 30px; }
    section.introduction .left-column img {
      margin-bottom: 35px; }
  section.introduction .right-column {
    padding-left: auto; }
    section.introduction .right-column p {
      font-weight: 600;
      font-size: 18px; }
    section.introduction .right-column .section-title .green {
      color: #669900; }
    section.introduction .right-column .section-title .pink {
      color: #ff0066; }



section.join-us {
  padding: 70px 0 0 0; }
  section.join-us .customer-offers {
    padding: 50px 15px 80px 15px; }
    section.join-us .customer-offers .left-column {
      display: flex;
      align-items: center;
      order: 2;
      text-align: center; }
    section.join-us .customer-offers .text-content h3 {
      font-weight: 700;
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 32px; }
    section.join-us .customer-offers .right-column {
      margin-bottom: 45px; }
  section.join-us .customer-rewards {
    background-color: #f3f5f9;
    padding: 80px 0; }
    section.join-us .customer-rewards .left-column {
      position: relative;
      text-align: center;
      margin-bottom: 45px; }
      section.join-us .customer-rewards .left-column img {
        position: relative; }
    section.join-us .customer-rewards .right-column {
      display: flex;
      align-items: center;
      text-align: center; }
      section.join-us .customer-rewards .right-column .text-content h3 {
        font-weight: 700;
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 32px; }



section.reviews .container-fluid {
  background-color: #f3f5f9;
  padding: 70px 0 100px 0; }
  section.reviews .container-fluid .carousel .carousel-indicators {
    bottom: -60px; }
    section.reviews .container-fluid .carousel .carousel-indicators li {
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background-color: #939290; }
      section.reviews .container-fluid .carousel .carousel-indicators li.active {
        background-color: #5fa037; }
  section.reviews .container-fluid .section-title {
    margin-bottom: 35px; }
  section.reviews .container-fluid .review-text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400; }
    section.reviews .container-fluid .review-text b {
      display: block;
      font-weight: 900; }
  section.reviews .container-fluid .reviewer .profile {
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 15px; }
    section.reviews .container-fluid .reviewer .profile img {
      border-radius: 100%; }
  section.reviews .container-fluid .reviewer .name {
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    display: inline; }


.img-fluido{
    width: 90%;
    height: 200px;
}

/* ---------------------
    media queries
------------------------*/
@media only screen and (min-width: 768px) {
  .header {
    background-color: #ff0066; }
    .header .navbar-dark {
      padding: .5rem 1rem 0.5rem 1rem; }
      .header .navbar-dark .navbar-nav .nav-item {
        margin-right: 30px; }
        .header .navbar-dark .navbar-nav .nav-item:last-of-type {
          margin-right: 0; }
        .header .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu {
          border-top: 3px solid #f2ac00;
          border-left: none;
          border-right: none;
          border-bottom: none;
          border-radius: 0;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
          .header .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .arrow-up {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #f2ac00;
            position: absolute;
            top: -11px;
            left: 15px; }
        .header .navbar-dark .navbar-nav .nav-item .signup-btn {
          margin-top: 0; }
  section .section-title {
    font-size: 42px; }
  section.customer-top-banner {
    padding: 100px 0 75px 0; }
    section.customer-top-banner .left-text-section h1 {
      font-size: 38px;
      margin-bottom: 35px; }
    section.customer-top-banner .left-text-section h4 {
      font-size: 20px; }
    section.customer-top-banner .banner-png {
      display: block; }
  section.introduction {
    padding: 100px 0 200px 0; }
    section.introduction .left-column img {
      margin-bottom: 0; }
    section.introduction .right-column {
      padding-left: 30px; }
      section.introduction .right-column p {
        font-size: 24px; }
  
  section.join-us {
    padding: 100px 0; }
    section.join-us .customer-offers {
      padding: 50px 15px; }
      section.join-us .customer-offers .left-column {
        text-align: left;
        order: inherit; }
        section.join-us .customer-offers .left-column .text-content h3 {
          font-size: 1.75rem;
          line-height: 39px; }
      section.join-us .customer-offers .right-column {
        margin-bottom: 0; }
    section.join-us .customer-rewards {
      padding: 100px 0; }
      section.join-us .customer-rewards .left-column {
        text-align: left;
        margin-bottom: 0; }
        section.join-us .customer-rewards .left-column img {
          position: absolute;
          top: -158px;
          left: 15px; }
      section.join-us .customer-rewards .right-column {
        text-align: left; }
        section.join-us .customer-rewards .right-column .text-content h3 {
          font-size: 1.75rem;
          line-height: 39px; }
  
  section.reviews .container-fluid {
    padding: 100px 0; }
    section.reviews .container-fluid .review-text {
      width: 600px;
      margin-left: auto;
      margin-right: auto; }
  


@media only screen and (max-width: 992px) {
  section.customer-top-banner .banner-png {
    display: none; }
  section.app-info-slider .carousel-item .slide-card {
    min-height: 326px; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  section.customer-top-banner .banner-png {
    bottom: 10%;
    width: 54%; }
  section.download-app {
    padding: 180px 0 100px 0; }
    section.download-app .left-column img {
      width: 90%; }
    section.download-app .right-column .section-title {
      font-size: 36px; }
    section.download-app .right-column .info {
      font-size: 1.2rem; } }

