
<div class=" container">
<div class="row">
  <div class="col col-sm-12 col-lg-12 col-md-12 containercustomer" ng-init="getProduct()">
     <div class="row justify-content-md-center">
      <div class="col col-md-12 col-lg-12 card">
        <!-- <div class="card-header">
          Product Details
        </div> -->
        <div class="card-body">
          <h5 class="card-title text-center section-heading">{{product.name}} </h5>
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <img  class="col-sm-12 col-md-12 col-lg-12" style="width: 100%, height: 300px;" src="{{product.imageName}}" alt="{{product.name}}"/>
              <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 10px;">
              <!-- <button class="col-sm-5 col-md-5 btn btn-warning" href="#!/customer/dashboard">Notify Me</button> -->
              <button type="button" class="col-sm-5 col-md-5 btn btn-success" ng-click="addToCart(product)">Add to Cart</button>
            </div>
            </div>
            <div class="col-sm-12 col-lg-8 col-md-8">
              <span class="productdeatilheading">Name: </span><span class="productdeatil">{{product.name | capitalize}}</span><br/>
              <span class="productdeatilheading">Price: </span><span class="productdeatil">&#x20b9;{{product.dealPrice}}/{{product.stockType}}</span><br/>
              <span class="productdeatilheading">Offer Price: </span><span class="productdeatil" ng-if="product.priceEachItem < product.dealPrice">&#x20b9;{{product.priceEachItem}}/{{product.stockType}}</span> <span class="productdeatil" ng-if="product.priceEachItem == product.dealPrice"> ------ </span><br/>
              <span class="productdeatilheading" ng-if="product.isOrganic">Organic: </span><span class="productdeatil" ng-if="product.isOrganic">100% Organic (Assured)<br/>
              </span> 
              <span ng-if="product.holesaleprice" class="productdeatilheading">Hole sale price: <i class="fas fa-rupee-sign"></i>{{product.holesaleprice}} over purchase of {{product.holesalequantity}}{{product.stockType}}</span>
            </div>
          </div>
          <!-- <div class="col-md-12 col-sm-12 divider"></div> -->
          <hr>
          <div class="row">
            <div class="col-sm-12 col-lg-4 col-md-4">
              <span class="productdeatilheading">Ratings</span>
            </div>
            <div class="col-sm-12 col-md-4 col-md-8" style="margin-bottom: 40px;">
              <span> <div ng-stars="product.rating" ng-stars-max="5" ng-stars-readonly class="stars"></div><span style="font-size:12px;">reviews ({{product.reviewCount}})</span></span><hr>
              <div style="overflow-y: scroll; height:100px;">
                <span ng-repeat="revie in product.reviews"><span ng-stars="revie.rating" ng-stars-max="5" ng-stars-readonly class="stars"></span>{{revie.review}}<hr></span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <span class="productdeatilheading">Rate your purchase</span>
            </div>
            <div class="col-sm-12 col-lg-8 col-md-8">
              <span ><div class="stars" ng-stars="rating" ></div>
                <textarea class="col-sm-12 col-lg-12 col-md-12" rows="4" cols="50" placeholder="Write Review" ng-model="review" name="review"/><br/>
                <button class="btn btn-info" ng-click="submitReview(rating, review)">Submit</button>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <span class="productdeatilheading">Product Specifications </span>
            </div>
            <div class="col-md-8">
              <span> {{product.description}}</span>
            </div>
            <div class="col-md-4">
              <span class="productdeatilheading">About Producer</span>
            </div>
            <div class="col-md-8">
              <span> {{product.brand | capitalize}}</span><br/>
              <span>  {{product.user_docs[0].city}} {{product.user_docs[0].pincode}}</span><br/>
              <p> {{product.user_docs[0].about}}</p>
            </div>
            <div class="col-md-4">
              <span class="productdeatilheading">Category Specifications </span>
            </div>
            <div class="col-md-8">
              <span> {{product.product_docs[0].description}}</span>
            </div>
            <div class="col-md-4">
              <span class="productdeatilheading">Quantity Available </span>
            </div>
            <div class="col-md-8">
              <span> {{product.remainingQuantity}} {{product.stockType}}</span>
            </div>
            <hr>
            <div class="col-sm-12 col-md-4">
            </div>
            <div class="col-sm-12 col-md-8">
              <a class="btn btn-warning" href="#!/category/{{product.categoryName}}/{{product.type}}/products">Back</a>
              <button type="button" class="btn btn-success" ng-click="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="section-heading">Recommend Products</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" ng-repeat="product in recommondedProducts">
        <div class="product-grid">
          <div class="product-image">
            <a href="#!/product/{{product._id}}">
              <img class="pic-1" src="{{imageUrlReco}}/{{product.imageName}}">
              <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg"> -->
            </a>
            <ul class="social">
              <!-- <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li> -->
              <li><a data-tip="Add to Cart" ><i class="fa fa-shopping-cart" ng-click="addToCart(product)"></i></a></li>
            </ul>
            <span ng-if="product.isOrganic" class="product-new-label">Organic</span>
            <span ng-if="product.priceEachItem > product.dealPrice" class="product-discount-label">Offer Price: <i class="fas fa-rupee-sign"></i>{{product.dealPrice}}</span>

          </div>
          <ul ng-if="product.ratings" class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
          </ul>
          <div class="product-content">
            <h3 class="title"><a href="#!/product/{{product._id}}">{{product.name}}</a></h3>
            <div class="price"><i class="fas fa-rupee-sign"></i>{{product.dealPrice}}/{{product.stockType}}
              <span ng-if="product.priceEachItem > product.dealPrice">{{product.priceEachItem}}</span>
            </div>
            <div><i class="fas fa-user-tie"></i>{{product.farmerName| capitalize}}</div>
            <a class="add-to-cart"  ng-click="addToCart(product)">+ Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>