<div ng-include="'/staticViews/customerHeader.html'"></div>
<section class="bg-grey" id="portfolio" style="margin-top: 50px;" ng-init="getNewProducts()">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Newly Arrived Farm Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="news-slider"  class="owl-carousel">
          <div ng-repeat="product in newProducts">
            <div class="post-slide" >
              <div class="post-img">
                <a href="#!/product/{{product._id}}">
                  <img src="/uploads/{{product.imageName}}" alt="product.name">
                  <div class="post-date" ng-if="product.isOrganic">
                    <span class="month">Verified Organic</span>
                  </div>
                </a>
              </div>
              <div class="post-review">
                <h3 class="post-title"><a href="#!/product/{{product._id}}">{{product.name}}</a></h3>
                <ul class="post-bar">
                  <li><i class="fas fa-glasses"></i>{{product.type}}</li>
                  <li><i class="fas fa-rupee-sign"></i>{{product.priceEachItem}}/{{product.stockType}}</li>
                  <li><i class="fas fa-user-tie"></i>{{product.farmerName| capitalize}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-grey" id="portfolio" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading" ng-init="getCategories()">Available Categories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="news-slider6" class="owl-carousel">
          <div class="post-slide6" ng-repeat="category in productCategories">
            <div class="post-img">
              <img style="height: 100px;" src="/uploads/{{category.imageName}}" alt="">
              <div class="post-info">
                <ul class="category">
                  <li><a href="#!/category/{{category._id}}/subcategory">{{category.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>