<div ng-include="'/staticViews/customerHeader.html'"></div>
<div class="container" ng-init="getCart()">
  <div class="row justify-content-center" style="margin-top: 100px;" ng-init="getDeliveryCharge()">
    <div class="col-sm-12 col-lg-12 col-md-12 " style="margin-bottom: 20px;">
      <h4 class="text-center">Shopping Cart</h4>
      <div style="color:red;">{{orderAmountHint}}</div>
      <div class="mobiletable">
      <table class="table ">

        <thead >
          <tr>
            <th>Items</th>
            <th>Quantity</th>
            <th></th>
            <th>Stock Available</th>
            <th>Price/Item</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart.products">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td><input type="number" name="quantity" id="quantity" ng-model="item.quantity" placeholder="Enter qunatity" ng-blur="updateCart(item,'quantityUpdate')" min="1" max="1000"></td>
            <td>{{item.remainingQuantity}}{{item.stockType}}</td>
            <td>&#x20b9;{{item.dealPrice}}/{{item.stockType}}</td>
            <td>&#x20b9;{{item.quantity * item.dealPrice}}/{{item.stockType}}</td>
            <td><i class="fa fa-times" aria-hidden="true" ng-click="updateCart(item,'delete')"></i></td>
          </tr>
          <tr>
            <td>Delivery Charge</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&#x20b9;<span ng-bind="deliveryCharge"> </span></td>
            <td></td>
          </tr>
          <tr>
            <td>GST</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&#x20b9;<span ng-bind="gstCharge"></span></td>
            <td></td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&#x20b9;<span ng-bind="getAllTotal()"></span></td>
            <td></td>
          </tr>
          
        </tbody>
      </table>
    </div>
      <div class="col-sm-12 col-lg-12 col-md-12">
        <label  class="col-sm-12 col-md-3" > Delivery Address</label>
        <textarea class="colsm-12 col-md-8"  ng-model="cart.deliveryAddress" placeholder="Enter delivery address" cols="10" rows="2" name="deliveryAddress" id="deliveryAddress"></textarea>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12">
        <label  class="col-sm-12 col-md-3" > Special Request</label>
        <textarea class="col-sm-12 col-md-8"  ng-model="cart.specialRequest" placeholder="Enter Special request, may charges applicable " cols="10" rows="2" name="specialRequest" id="specialRequest"></textarea>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
      <a class="col-sm-4 col-md-4 cartButtons  btn btn-primary" href="#!/customer/dashboard">More Shopping</a>
      <button type="button" class="col-sm-4 col-md-4 cartButtons  btn btn-secondary" ng-click="clearCart()">Clear Cart</button>
      <button ng-disabled="!validCart || blockPurchase" type="button" class="col-sm-4 col-md-4 cartButtons  btn btn-success" ng-click="placeOrder(cart)">Place Order</button>
    </div>
      <div style="color: green;">{{deliveryHint}}</div>
    </div >
    <div class="col-sm-12 col-lg-12 col-md-12" style="color: #fca279;">
      <span>* All the products purchased would be delivered on the Weekend with Cash on Delivery payment mode only.</span><br/>
      <span>* Delivery charge might vary depending on the product weight, quantity, delivery location and minimum order.</span><br/>
      <span>* If the ordered quantity is found to be more than Stock Quantity system will automatically set the default value of the quanitity.</span><br/>
      <span>* No delibery charges on purchase after <span>&#x20b9; {{deliveryPrice}}</span> </span><br/>
      <span>* To place order your minimum purchase amount should be <span>&#x20b9; {{minPerchaseAmt}}</span> </span><br/>
    </div>
  </div>
</div>