<div ng-include="'/staticViews/customerHeader.html'"></div>
<div class="container" ng-init="getCategoryProducts()" style="margin-top: 20px;">
  <div class="row newProducts">
    <h2 class="col-md-12 corousalheading"> Category Products</h2>

    <!-- <div class="row"> -->
      <div class="col-md-12 col-lg-12">
        <div class="row">
        <div class="col-md-4 card product-menu mb-3" ng-repeat="product in catProducts">
          <div class="d-flex menu-row">
            <div class="card-image">
              <img ng-if="product.imageName" src="{{product.imageName}}" alt="" class="img-fluid">
              <img ng-if="!product.imageName" src="images/productdefault.png" alt="" class="img-fluid">
              <div ng-if="product.isChemicalfree" class="nameOnimage" style="background-color: green; color: white; ">Chemical Free</div>
            </div>
            
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <h5 class="menu-name"><a href="#!/product/{{product.cat_id}}/{{product._id}}">{{product.name}}</a></h5>
                <span class="price"><i class="fas fa-rupee-sign"></i>{{product.price}}/{{product.stockType}}</span>
              </div>
              
              <p class="menu-desc" ng-bind-html="product.description | limitTo: 150"></p>
              
              <p class="category">
                <span class="icon">
                  <img src="https://img.icons8.com/ios/24/000000/category.png">
                </span>
                {{product.category_name}}
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between cart-group">
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="addToCart(product, 'product')">Add to Cart</a>
            <h5 class="menu-name">Available Quantity: {{product.quantity_remaining}}</h5>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="col-md-12 text-center">
  <button ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1; getCombos()" class="btn btn-primary">
  Previous
  </button>
  {{currentPage}}/{{numberOfPages}}
  <button ng-disabled="currentPage >= numberOfPages" ng-click="currentPage=currentPage+1; getCombos()" class="btn btn-primary">
  Next
  </button>
</div>